// --------------Profile page section--------------------
//
// Styles specific to a single page. These should only be  used as
// a LAST resort unless you're taking the symatic approach and
// actually using this to describe the parts of your document.
//
// .profile-page {
//   The less here the better!!
// }



.navbar-default {
  background-color: transparent;
  border: none;
}

.flash_messages {
  display: none;
}



.jumbotron {
  // position: relative;
  margin-top: -82px;
  background-image: url("fit_splash.jpg");
  background-repeat: none;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-color: #FFF;
  height: 70vh;
  padding-top: 96px;
}

.intro {
  h1 {
    font-size: 5em;
  }

  p {
    font-size: 40px;
    line-height: 0.8;
  }
}