// --------------Profile page section--------------------
//
// Styles specific to a single page. These should only be  used as
// a LAST resort unless you're taking the symatic approach and
// actually using this to describe the parts of your document.
//
// .profile-page {
//   The less here the better!!
// }

#footer {
  margin-top: 20px;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.flash_messages {
  display: none;
}



.jumbotron {
  // position: relative;
  margin-top: -82px;
  background-image: image-url("fit_splash.jpg");
  background-repeat: none;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-color: #FFF;
  height: 70vh;
  padding-top: 96px;
}

.intro {
  h1 {
    font-size: 5em;
  }

  p {
    font-size: 40px;
    line-height: 0.8;
  }
}

#new_contract {
  input {
    border: none;
    border-bottom: 1px dotted;
    width: 60px;
    text-align: center;
  }
}

.stripe-button-el span {
    padding: 0 16px !important;
    height: 36px !important;
    line-height: 36px !important;
    background: #5cb85c !important;
    background-image: -webkit-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -moz-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -ms-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -o-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -webkit-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -moz-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -ms-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: -o-linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    background-image: linear-gradient(#5cb85c,#5cb85c 85%,#5cb85c) !important;
    font-size: 22px !important;
    font-family: inherit !important;
    font-weight: normal !important;
}


.how-it-works {
    position: absolute;
    top: -494px;
    left: 0;
    right: 0;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    transition: top 0.3s ease;
    z-index: 9999
}

.how-it-works .inner {
    position: relative;
    background: #f8f8f8;
    padding: 20px 0 50px 0;
    max-height: 410px;
    overflow: hidden
}

.how-it-works.how-it-works-open {
    top: 0px
}

.how-it-works .how-it-works-close {
    position: absolute;
    right: 20px;
    cursor: pointer
}

.how-it-works h4 {
    margin: 20px auto 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #111213
}

.how-it-works .ic-icon {
    font-size: 40px
}

.how-it-works-section {
    display: inline-block;
    vertical-align: top;
    width: 33.1%;
    text-align: center;
    color: #a4a3a2
}

.how-it-works-section .title {
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 16px;
    color: #111213
}

.how-it-works-section .icon-image {
    display: block;
    background: no-repeat center/contain #f8f8f8;
    height: 160px;
    width: 100%;
    margin-bottom: 50px
}

.how-it-works-section .commit {
    background-image: image-url("cartoon_stopwatch.png");
}

.how-it-works-section .get-fit {
    background-image: image-url("heart_running.png");
}

.how-it-works-section .never-quit {
    background-image: image-url("clipboard.png");
}

.how-it-works-section .content {
    color: #939291;
    font-size: 17px
}